jupyter-sphinx==0.3.2
numpydoc==1.1.0
psutil==5.7.2
pillow==7.2.0
ipython==7.18.1
ipykernel==5.3.4
ipywidgets==7.5.1
sphinx>=1.6
nbsphinx==0.7.1
nbformat==5.0.7
nbconvert!=5.4
sphinxcontrib-bibtex==1.0.0
sphinx-gallery==0.7
sphinx_bootstrap_theme==0.7.1
sphinx_panels==0.5.2
matplotlib==3.3.2
pandoc==2.11
git+https://github.com/cogent3/cogent3.git@develop#egg=cogent3[dev]